
    <!-- ##### Header Area Start ##### -->

    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><i class="fa fa-laptop" aria-hidden="true"></i>tmSG</a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
<!--                            <li><a href="#">Shop</a>-->
<!--                                <div class="megamenu">-->
<!--                                    <ul class="single-mega cn-col-4">-->
<!--                                        <li class="title"><b>Build-a-PC</b></li>-->
<!--                                        <li><a href="/Product/Catalog">ReadyBuild&trade;	</a></li>-->
<!--                                        <li><a href="/Product/Graphic Cards">Graphic Cards</a></li>-->
<!--                                        <li><a href="/Product/CPU">CPU</a></li>-->
<!--                                        <li><a href="/Product/RAM">RAM</a></li>-->
<!--                                    </ul>-->
<!--                                    <ul class="single-mega cn-col-4">-->
<!--                                        <li class="title"><b>Accessories</b></li>-->
<!--                                        <li><a href="/Product/Mouse">Mouse</a></li>-->
<!--                                        <li><a href="/Product/Keyboard">Keyboard</a></li>-->
<!--                                        <li><a href="/Product/Audio Accessories">Audio Accessories</a></li>-->
<!--                                    </ul>-->
<!--                                    <div class="single-mega cn-col-4">-->
<!--                                        <img src="../static/img/bg-img/bg-6.jpg" alt="">-->
<!--                                    </div>-->
<!--                                     <br />-->
<!--                                     <br />-->
<!--                                     <h6>Lost? Get help</h6>-->
<!--                                    <p>Contact our friendly Tech Advisors today  <br style="line-height:0px;" /> Exclusive for our Platinum Members</p>-->
<!--                                    <button onclick="location.href='/support'" type="button" class="btn btn-sm btn-outline-dark">Contact a Tech Advisor</button>-->

<!--                                </div>-->
<!--                            </li>-->
                            {% if not session['customer_id'] %}
                            <li><a href="/register">Register</a></li>
                            <li><a href="/Product/Catalog">Catalog</a></li>
                            <li><a href="/support">Support</a></li>
                            {% else %}
                            <li><a href="/Product/Catalog">Catalog</a></li>
                            <li><a href="/support">Support</a></li>
                            {% endif %}

                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
<!--                <div class="search-area">-->
<!--                    <form action="#" method="post">-->
<!--                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">-->
<!--                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>-->
<!--                    </form>-->
<!--                </div>-->
                <!-- Favourite Area -->
           {#     {% if session['customer_id'] %} #}
<!--                <div class="favourite-area">-->
<!--                    <a href="#"><img src="../static/img/core-img/heart.svg" alt=""></a>-->
<!--                </div>-->

                  <!-- Cart Area -->
                <div class="cart-area">
                     <a href="#" id="essenceCartBtn"><img src="../static/img/core-img/bag.svg" alt="">
                         <span>
                            {% if cart %}
                                {{ cart | length }}
                             {% else %}
                                0
                             {% endif %}
                         </span>
                     </a>

                </div>
                <!-- User Login Info -->

                {% if not session['customer_id'] %}

                <div class="user-login-info">
                    <a href="/login"><img src="../static/img/core-img/User.svg" alt=""></a>
                </div>
                {% endif %}
                   {% if session['customer_id'] %}
                <div class="user-login-info">
                    <a href="/login" data-toggle = "dropdown"><img src="../static/img/core-img/User.svg" alt=""></a>
                      <ul class="dropdown-menu"  style = "position:absolute; !important;border-radius:10px;">
                    <li><a href="/customer_profile"><i class="fa fa-user"></i>&nbsp;Profile</a></li>

                    <li><a href="/customer_order/all"><i class="fa fa-shopping-basket"></i>&nbsp;Orders</a></li>
                    <li><a href="/Logout"><i class="fa fa-sign-out"></i>&nbspLogout</a></li>
                    </ul>
                </div>
                {% endif %}


            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="../static/img/core-img/bag.svg" alt=""> <span></span></a>
        </div>
        <form id="bulkCartForm" method="POST" action="/bulk_cart_action">
        <div class="cart-content d-flex">
            <!-- Cart List Area -->
            {% set total = namespace(value=0) %}

            {% if cart %}
                <div class="cart-list">
                <!-- Single Cart Item -->
                {% for item in cart %}
                    {% set product = cart_information[item.product_id] %}
                    {% set subtotal = product.product_price * item.quantity %}
                    {% set total.value = total.value + subtotal %}
                    <div class="single-cart-item" id ='testing'>

                                    <div class="product-image">
                                        <img src="../static/img/Upload/{{ cart_information[item.get('product_id')]['product_photo'] }}"  alt="" >
                                        <!-- Cart Item Desc -->
                                        <div class="cart-item-desc">


                                            <span class = "badge">{{ cart_information[item.get('product_id')]['product_model'] }} {{ cart_information[item.get('product_id')]['product_name'] }}</span>
                                            <span class ='badge'>Quantity: {{ item.get('quantity') }}</span>
                                            <span class="badge"  style ='font-size:10px'>Price: ${{ cart_information[item.get('product_id')]['product_price'] }}</span>


                                        </div>
                                         <input checked type="checkbox" name="selected_items" value="{{ item['product_id'] }}" class="form-check-input">

                                    </div>

                                </div>
                                <input type="number" class="form-control" name = 'quantity_{{ item["product_id"] }}'  value="{{ item.get('quantity') }}" min="1" max="100" style="width:100%;">



                                {% endfor %}

                                  <div class="text-end">
                                    <button type="button" id="updateBtn" name="action" value="update" class="update-cart-btn btn essence-btn w-100">
                                         Update
                                    </button>
                                </div>
                                <div class="text-end">
                                    <button type="button" id="deleteBtn" name="action" value="delete" class="btn essence-btn w-100" style="background-color:#dc0345;">
                                        delete
                                    </button>

                                </div>


                    </div>
                    <!-- Submit button at bottom of cart -->


            {% endif %}
            <!-- end of cart information -->

                <!-- Cart Summary -->
                <div class="cart-amount-summary">

                    <h2>Summary</h2>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>${{ '%.2f' | format(total.value) }}</span></li>
    <!--                    <li><span>delivery:</span> <span>Free</span></li>-->
                        <li><span>total:</span> <span>${{ '%.2f' | format(total.value) }}</span></li>
                    </ul>
                    <div class="checkout-btn mt-100">
                        <!-- /checkout/userid!-->
<!--                        <button type ="button" name="action" id="checkoutBtn" value ="checkout" class="btn essence-btn checkout" style="color:white" >check out</button>-->
                        <button type="button" id="checkoutBtn" name="action" value="checkout" class="btn essence-btn">check out </button>

                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- ##### Right Side Cart End ##### -->

