<!DOCTYPE html>
<html lang="en">
<body>
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TmSeller <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Inventory Related
      </div>


        <li class="nav-item">
            <a class="nav-link collapsed" href="/Orders/all" aria-expanded="true">
                <i class="fas fa-fw fa-wrench"></i>
          <span>Orders</span>
            </a>
        </li>

{#    {% if session['Role'] == 'SysAD' or session['Role'] == 'Inventory Administrator' %} #}
<!--    <li class="nav-item">-->

<!--             <a class="nav-link collapsed" href="/Orders/all" aria-expanded="true">-->


<!--          <i class="fas fa-fw fa-wrench"></i>-->
<!--          <span>Orders</span>-->
<!--        </a>-->
<!--      </li>-->
        {#  {% else %} #}

<!--          <li class="nav-item">-->
<!--        <a class="nav-link collapsed" style="cursor:not-allowed;opacity:0.7" aria-expanded="true">-->
<!--          <i class="fas fa-fw fa-wrench"></i>-->
<!--          <span>Order</span>-->
<!--        </a>-->
<!--      </li>-->
         {#  {%endif %} #}

              <li class="nav-item">
        <a class="nav-link collapsed" href="/Delivery" aria-expanded="true">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Delivery</span>
        </a>
      </li>
      {#     {% if session['Role'] == 'SysAD' or session['Role'] == 'Inventory Administrator' %}    #}

<!--          <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="/Delivery" aria-expanded="true">-->
<!--          <i class="fas fa-fw fa-wrench"></i>-->
<!--          <span>Delivery</span>-->
<!--        </a>-->
<!--      </li>-->
{# {% else %} #}
<!--          <li class="nav-item">-->
<!--        <a class="nav-link collapsed" style="cursor:not-allowed;opacity:0.7;" aria-expanded="true">-->
<!--          <i class="fas fa-fw fa-wrench"></i>-->
<!--          <span>Delivery</span>-->
<!--        </a>-->
<!--      </li>-->
  {#      {% endif %}   #}

      <li class="nav-item">
          <a class="nav-link collapsed" href="/inventory" aria-expanded="true">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Inventory</span>
        </a>
      </li>
        <!-- Nav Item - Charts -->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">-->
<!--          <i class="fas fa-fw fa-table"></i>-->
<!--          <span>Inventory</span></a>-->
<!--         <div id="collapseProducts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
<!--          <div class="bg-white py-2 collapse-inner rounded">-->
<!--            <h6 class="collapse-header">Product and Order:</h6>-->
           {# {% if session['Role'] == 'SysAD' or session['Role'] == 'Inventory Administrator' %} #}
<!--            <a class="collapse-item" href="/productManagement">Our Products</a>-->
           {# {% else %} #}
<!--             <a class="collapse-item isDisabled" style = "cursor:not-allowed;opacity:0.5;text-decoration:none;">Our Products</a>-->
           {# {% endif %} #}

<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        User Related
      </div>



      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-table"></i>
          <span>Account</span></a>
         <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">User:</h6>
            <a class="collapse-item" href="/client">Clients</a>
            {% if session['Role'] == "Inventory Administrator" %}
            <a class="collapse-item" style = "cursor:not-allowed;opacity:0.5;text-decoration:none;">Sellers</a>
            {% else %}
            <a class="collapse-item" href="/seller" >Sellers</a>
            {% endif %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
</body>
</html>