{% extends 'admin_base.html' %}
{% block links %}
 <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href = '../static/css/sb-admin-2.min.css' rel = 'stylesheet'>
<link href = '../static/css/style.css' rel = 'stylesheet'>
{% endblock %}
{% block pageContent %}



<div id="updateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
                 <form id = "updateForm">

      <div class="modal-header">
          <h4 class="modal-title">Update Users</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
            <div class = "group">
              <label for="sellerid2" class="float-label" style="font-size:12px" ><i class = "fa fa-user" style  = "padding-left:2px;"></i>&nbspSeller ID</label>
              <input type="text" id="sellerid2" class="form-control"  name = "sellerid2" required="" readonly>
              <span class="form-highlight"></span>
              <span class="form-bar"></span>
          <span id="error_sellerid2" class="text-danger"></span>
          </div>
            <div class  ="group">
                <label for="username2" class="float-label" style="font-size:12px" ><i class = "fa fa-user" style  = "padding-left:2px;"></i>&nbspUsername</label>
                <input type="text" id="username2" class="form-control"  name = "username2" required="" readonly>
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
            <span id="error_username2" class="text-danger"></span>
            </div>
            <div class = "group">
              <label for="zipcode2" class="float-label" style="font-size:12px" ><i class = "fa fa-user" style  = "padding-left:2px;"></i>&nbspZip Code</label>
              <input type="text" id="zipcode2" class="form-control"  name = "zipcode2" required="">
              <span class="form-highlight"></span>
              <span class="form-bar"></span>
          <span id="error_zipcode2" class="text-danger"></span>
          </div>




<!--            <div class = 'group'>-->
<!--                <input type = "password" id = 'admPassword2' class = "form-control" name = 'password' required="">-->
<!--                <span class = 'form-highlight'></span>-->
<!--                <span class = 'form-bar'></span>-->
<!--                <label for = 'admPassword2' class = 'float-label' name = 'password'><i class = 'fa fa-lock'></i>&nbspPassword</label>-->
<!--            </div>-->

<!--              <div class = 'group'>-->
<!--                <input type = "password" id = 'admconfirmPassword2' class = "form-control" name = 'password' required="">-->
<!--                <span class = 'form-highlight'></span>-->
<!--                <span class = 'form-bar'></span>-->
<!--                <label for = 'admconfirmPassword' class = 'float-label' name = 'confirmPassword'><i class = 'fa fa-lock'></i>&nbspConfirm Password</label>-->
<!--              </div>-->

      </div>

      <div class="modal-footer">
            <input type  ="submit" id = "admSubmit2" class = "btn btn-info" value  = "Update">

      </div>
                     </form>
    </div>


  </div>
</div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <form id = "addForm" novalidate>
      <div class="modal-header">
          <h4 class="modal-title">Add Users</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">

            <div class = "group">
                <label for="username" class="float-label" style="font-size:12px;"><i class="	fa fa-id-card" style  = "padding-right:2px;"></i>&nbspUsername</label>
                <input type="text" id="username" class="form-control"  name = "username" required="">
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
			    <span id="error_username" class="text-danger"></span>
            </div>
            <div class  ="group">
                <label for="zipcdoe" class="float-label" style="font-size:12px" ><i class = "fa fa-user" style  = "padding-left:2px;"></i>&nbspZip Code</label>
                <input type="text" id="zipcode" class="form-control"  name = "zipcode" required="">
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
            <span id="error_zipcode" class="text-danger"></span>
            </div>



            <div class = 'group'>
                <label for = 'password' style="font-size:12px" class = 'float-label' name = 'password'><i class = 'fa fa-lock'></i>&nbspPassword</label>

                <input type = "password" id = 'password' class = "form-control" name = 'password' required="">
                <span class = 'form-highlight'></span>
                <span class = 'form-bar'></span>
                                <span id="error_password" class="text-danger"></span>

            </div>

              <div class = 'group'>
                  <label for = 'confirmpassword' class = 'float-label' name = 'confirmpassword' style="font-size:12px"><i class = 'fa fa-lock'></i>&nbspConfirm Password</label>
                <input type = "password" id = 'confirmpassword' class = "form-control" name = 'confirmpassword' required="">
                <span class = 'form-highlight'></span>
                <span class = 'form-bar'></span>
                                    <span id="error_confirmpassword" class="text-danger"></span>

            </div>


      </div>

      <div class="modal-footer">
<input type  ="submit" id = "admSubmit" class = "btn btn-success" value  = "Add">
      </div>
        </form>
    </div>


  </div>
</div>



 <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Seller</h1>


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Seller Accounts</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive" style = "">
                  <button style = 'float:right; margin-left:100px;'class="btn btn-success" id = "addBtn" data-toggle="modal" data-target="#myModal">Create New Account</button>


               <table class = "table table-bordered" id = "dataTable2" cellspacing="0" style  ="width:100%;">

                    <tr>
                    <thead>
                        <th>Seller ID</th>
                        <th>username</th>
                        <th>Zip Code</th>
                        <th>Actions</th>
                    </thead>
                        </tr>

                    <thead>
                    <tr>
                      <th>Seller ID</th>
                      <th>username</th>
                      <th>Zip Code</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                </table>
              </div>
            </div>
          </div>

        </div>

{% endblock %}
{% block script %}
<!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src = "../static/form.js"></script>
<script>
function load()
{
$('#dataTable2').DataTable({
            'processing':true,
            'serverSide':false,
            'ajax':{url:"/admin_retrieve_seller"},
            'columns':[
                {data:"seller_id"},
                {data:"username"},
                {data:"seller_zip_code"},
                {data:"Actions"}
            ]
        });
}
     $(document).ready(function(){
          var csrftoken = $('meta[name=csrf-token]').attr('content')

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            })

        $(document).on('click','#deleteBtn',function(){
            var sellerID = $(this).closest('tr').children('td:first').text();
             var username = $(this).closest('tr').children('td:nth-child(2)').text();
            var cfm  =  confirm("This is "+username+".Are you sure you want to delete this account");
            if(cfm)
            {
                        var reason = prompt('Please state your reason for deleting');
             if(reason)
             {
            $.ajax({
                data:{sellerID:sellerID},
                type:'POST',
                dataType:'json',
                url:'/admin_delete_seller',
                success:function(data)
                {
                     var table = $('#dataTable2').DataTable();
                     table.clear().destroy();
                      load();
                      location.reload();

                },
                error:function(error)
                {
                  //  alert(error)
                  location.reload();

                }

            });
            }else{
                alert('Pleasw state your reason for deleting!');
            }
            }
        });

          $(document).on('click','#updateBtn',function(){
            var sellerid  =  $(this).closest('tr').children('td:first').text();
            var username = $(this).closest('tr').children('td:nth-child(2)').text();
            var zipcode = $(this).closest('tr').children('td:nth-child(3)').text();




            var selleridField = $("#sellerid2").val(sellerid);
            var usernameField = $("#username2").val(username);
            var zipcodeField = $("#zipcode2").val(zipcode);


             $("#updateForm").on('submit',function(e){
/*
                var fname = $('#admFName2').val().trim();
                    var lname = $('#admLName2').val().trim();


                     var error_fname = '';
                    var error_lname = '';

                      var fname_validate =/^([a-zA-Z' ]+)$/;
                    var lname_validate =/^([a-zA-Z' ]+)$/;

                     if($.trim($('#admFName2').val()).length == 0)
         {
              error_fname = '*This field is mandatory!';
          $('#error_fname2').text(error_fname);
          $('#error_fname2').addClass('has-error');

         }else
         {  if(!fname_validate.test($('#admFName2').val()))
            {

                error_fname = 'Please enter a valid name!';
                $('#error_fname2').text(error_fname);
                $('#error_fname2').addClass('has-error');
            }else if($.trim($('#admFName2').val()).length > 100)
            {
                 error_fname = 'This field should not exceed more than 100 characters!';
                $('#error_fname2').text(error_fname);
                $('#error_fname2').addClass('has-error');
            }

             else
            {
                error_fname = '';
                $('#error_fname2').text(error_fname);
                $('#admFName2').removeClass('has-error');
            }
         }

                if(!lname_validate.test($('#admLName2').val()))
                {

                error_lname = 'Please enter a valid name!';
                $('#error_lname2').text(error_lname);
                $('#error_lname2').addClass('has-error');
            }else if($.trim($('#admLName2').val()).length > 100)
            {
                 error_lname = 'This field should not exceed more than 100 characters!';
                $('#error_lname2').text(error_lname);
                $('#error_lname2').addClass('has-error');
            }else{

                error_lname = '';
                $('#error_lname2').text(error_lname);
                $('#admLName2').removeClass('has-error');
                }


             if(error_fname != '' || error_lname != '')
                {
                    return false
                }
*/
                 $.ajax({
                        data:{sellerID:sellerid, zipcode:zipcodeField.val()},
                        type:'POST',
                        url:'/admin_update_seller',
                        dataType:'json',
                        success:function(data)
                        {
                            alert('Sucessfully updated')
                             $('#updateModal .close').click();
                             $('.modal-backdrop').removeClass('modal-backdrop');
                            $('.fade').removeClass('fade');
                            $('.in').removeClass('in');
                             var table = $('#dataTable2').DataTable();
                             table.clear().destroy();
                              load();
                        },
                        error:function(error)
                        {
                            //alert(error);
                            location.reload();

                        }
                       });
                    e.preventDefault();

            })

          });



        $("#addForm").on('submit',function(e){
          /*
            var userString = '{% for i in userList %}{{i|safe}}{% endfor %}';
        var newUserString =userString.substring(1,userString.length-1);
        var newUsers = newUserString.replace(/['"\s]+/g, '');
        var userList = newUsers.split(',');
        console.log(userList);

        var adminID = $('#adminID').val().trim();
        var fname = $('#admFName').val().trim();
        var lname = $('#admLName').val().trim();
          var password = $('#admPassword').val().trim();
        var confirmPassword = $('#admconfirmPassword').val().trim();

        var error_ID = '';
        var error_fname = '';
        var error_lname = '';
         var error_password = '';
        var error_confirmPassword ='';

         var fname_validate =/^([a-zA-Z' ]+)$/;
        var lname_validate =/^([a-zA-Z' ]+)$/;
        var ID_validate =  /^\d{6}[A-Z]$/;




            if($.trim($('#adminID').val()).length == 0)
         {
              error_ID = '*This field is mandatory!';
          $('#error_NRIC').text(error_ID);
          $('#error_NRIC').addClass('has-error');

         }else{
            if(userList.includes(adminID))
            {
                 error_ID = 'Duplicate admin ID found!';
                  $('#error_NRIC').text(error_ID);
                  $('#error_NRIC').addClass('has-error');

            }else if(!ID_validate.test($('#adminID').val()))
            {
                 error_ID = 'Admin ID needs to be 6 digits follow by a capital letter!';
                  $('#error_NRIC').text(error_ID);
                  $('#error_NRIC').addClass('has-error');

            }
            else
            {
              error_ID = '';
                $('#error_NRIC').text(error_ID);
                $('#adminID').removeClass('has-error');

            }
         }

          if($.trim($('#admFName').val()).length == 0)
         {
              error_fname = '*This field is mandatory!';
          $('#error_fname').text(error_fname);
          $('#error_fname').addClass('has-error');

         }else
         {  if(!fname_validate.test($('#admFName').val()))
            {

                error_fname = 'Please enter a valid name!';
                $('#error_fname').text(error_fname);
                $('#error_fname').addClass('has-error');
            }else if($.trim($('#admFName').val()).length > 100)
            {
                 error_fname = 'This field should not exceed more than 100 characters!';
                $('#error_fname').text(error_fname);
                $('#error_fname').addClass('has-error');
            }

             else
            {
                error_fname = '';
                $('#error_fname').text(error_fname);
                $('#admFName').removeClass('has-error');
            }
         }

            if($.trim($('#admLName').val()).length == 0)
         {
              error_lname = '*This field is mandatory!';
          $('#error_lname').text(error_lname);
          $('#error_lname').addClass('has-error');

         }else
         {
               if(!lname_validate.test($('#admLName').val()))
                {

                error_lname = 'Please enter a valid name!';
                $('#error_lname').text(error_lname);
                $('#error_lname').addClass('has-error');
            }else if($.trim($('#admLName').val()).length > 100)
            {
                 error_lname = 'This field should not exceed more than 100 characters!';
                $('#error_lname').text(error_lname);
                $('#error_lname').addClass('has-error');
            }else{

                error_lname = '';
                $('#error_lname').text(error_lname);
                $('#admLName').removeClass('has-error');
                }
         }

           if(password != confirmPassword)
        {
            error_password = 'Password does not match!';
            error_confirmPassword = 'Password does not match!';
            $('#error_password').text(error_password);
            $("#error_confirmPassword").text(error_confirmPassword);
             $('#error_password').addClass('has-error');
            $("#error_confirmPassword").addClass('has-error');
        }
        else
        {
               if($.trim($('#admPassword').val()).length == 0 )
                {
                    error_password = '*This field is mandatory!';
                    $('#error_password').text(error_password);
                     $('#error_password').addClass('has-error');
                }
                else
                {
                    error_password = '';
                    error_confirmPassword = '';
                    $('#error_password').text(error_password);
                    $('#error_confirmPassword').text(error_confirmPassword);
                }

        }

        if($.trim($('#admconfirmPassword').val()).length == 0)
        {
             error_confirmPassword = '*This field is mandatory!';
             $("#error_confirmPassword").text(error_confirmPassword);
             $("#error_confirmPassword").addClass('has-error');

        }
          if(error_fname != '' || error_lname != '' || error_password !='' || error_confirmPassword !='' || error_ID !='')
        {
            return false
        }*/
        $.ajax({
            data:{username:$("#username").val(),zipcode:$("#zipcode").val(), password:$("#password").val()},
            type:'POST',
            url:'/admin_add_seller',
            dataType:'json',
            success:function(data)
            {
                alert('Sucesfully added');
                $('#myModal .close').click();
                 $('.modal-backdrop').removeClass('modal-backdrop');
                $('.fade').removeClass('fade');
                $('.in').removeClass('in');
                 var table = $('#dataTable2').DataTable();
                 table.clear().destroy();
                  load();
                  location.reload();

            },
            async:true,
            error:function(data)
            {
              //  alert(data);
              location.reload();

            },
            done:function(data)
            {
            }
        });
        e.preventDefault();
    })

    $("#role").on("change",function(){
        var valueSelected = $(this).val();
        if(valueSelected == "SysAD")
        {
            $("#permission").val('Everything');
        }else if(valueSelected ==  "Business Administrator")
        {
             $("#permission").val('Business');
        }else if(valueSelected == "Inventory Administrator")
        {
            $("#permission").val('Inventory');
        }else if(valueSelected ==  'User Administrator')
        {
            $('#permission').val('User');
        }
    });
      $("#role2").on("change",function(){
        var valueSelected = $(this).val();
        if(valueSelected == "SysAD")
        {
            $("#permission2").val('Everything');
        }else if(valueSelected ==  "Business Administrator")
        {
             $("#permission2").val('Business');
        }else if(valueSelected == "Inventory Administrator")
        {
            $("#permission2").val('Inventory');
        }else if(valueSelected ==  'User Administrator')
        {
            $('#permission2').val('User');
        }
    });
        load();

    });



    </script>
{% endblock %}