{% extends 'seller_base.html' %}
{% block pageContent %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add New Product</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <form id="addForm" method="POST" action="/add_inventory_product" enctype="multipart/form-data">

          <div class="group">
            <label for="category" style="font-size:12px;">Product Category</label>
            <select class="form-control" id="category" name="category">
              <option value="agro_industry_and_commerce">agro_industry_and_commerce</option>
              <option value="food">food</option>
              <option value="food_drink">food_drink</option>
              <option value="art">art</option>
              <option value="arts_and_craftmanship">arts_and_craftmanship</option>
              <option value="party_supplies">party_supplies</option>
              <option value="christmas_supplies">christmas_supplies</option>
              <option value="audio">audio</option>
              <option value="auto">auto</option>
              <option value="baby">baby</option>
              <option value="drinks">drinks</option>
              <option value="health_beauty">health_beauty</option>
              <option value="toys">toys</option>
              <option value="bed_bath_table">bed_bath_table</option>
              <option value="home_confort">home_confort</option>
              <option value="home_comfort_2">home_comfort_2</option>
              <option value="home_construction">home_construction</option>
              <option value="cds_dvds_musicals">cds_dvds_musicals</option>
              <option value="cine_photo">cine_photo</option>
              <option value="air_conditioning">air_conditioning</option>
              <option value="consoles_games">consoles_games</option>
              <option value="construction_tools_construction">construction_tools_construction</option>
              <option value="costruction_tools_tools">costruction_tools_tools</option>
              <option value="construction_tools_lights">construction_tools_lights</option>
              <option value="costruction_tools_garden">costruction_tools_garden</option>
              <option value="construction_tools_safety">construction_tools_safety</option>
              <option value="cool_stuff">cool_stuff</option>
              <option value="dvds_blu_ray">dvds_blu_ray</option>
              <option value="home_appliances">home_appliances</option>
              <option value="home_appliances_2">home_appliances_2</option>
              <option value="electronics">electronics</option>
              <option value="small_appliances">small_appliances</option>
              <option value="sports_leisure">sports_leisure</option>
              <option value="fashion_bags_accessories">fashion_bags_accessories</option>
              <option value="fashion_shoes">fashion_shoes</option>
              <option value="fashion_sport">fashion_sport</option>
              <option value="fashio_female_clothing">fashio_female_clothing</option>
              <option value="fashion_childrens_clothes">fashion_childrens_clothes</option>
              <option value="fashion_male_clothing">fashion_male_clothing</option>
              <option value="fashion_underwear_beach">fashion_underwear_beach</option>
              <option value="garden_tools">garden_tools</option>
              <option value="flowers">flowers</option>
              <option value="diapers_and_hygiene">diapers_and_hygiene</option>
              <option value="industry_commerce_and_business">industry_commerce_and_business</option>
              <option value="computers_accessories">computers_accessories</option>
              <option value="musical_instruments">musical_instruments</option>
              <option value="la_cuisine">la_cuisine</option>
              <option value="books_imported">books_imported</option>
              <option value="books_general_interest">books_general_interest</option>
              <option value="books_technical">books_technical</option>
              <option value="luggage_accessories">luggage_accessories</option>
              <option value="market_place">market_place</option>
              <option value="furniture_mattress_and_upholstery">furniture_mattress_and_upholstery</option>
              <option value="kitchen_dining_laundry_garden_furniture">kitchen_dining_laundry_garden_furniture</option>
              <option value="furniture_decor">furniture_decor</option>
              <option value="office_furniture">office_furniture</option>
              <option value="furniture_bedroom">furniture_bedroom</option>
              <option value="furniture_living_room">furniture_living_room</option>
              <option value="music">music</option>
              <option value="stationery">stationery</option>
              <option value="computers">computers</option>
              <option value="perfumery">perfumery</option>
              <option value="pet_shop">pet_shop</option>
              <option value="small_appliances_home_oven_and_coffee">small_appliances_home_oven_and_coffee</option>
              <option value="watches_gifts">watches_gifts</option>
              <option value="security_and_services">security_and_services</option>
              <option value="signaling_and_security">signaling_and_security</option>
              <option value="tablets_printing_image">tablets_printing_image</option>
              <option value="telephony">telephony</option>
              <option value="fixed_telephony">fixed_telephony</option>
              <option value="housewares">housewares</option>

            
            </select>
          </div>

          <div class="group">
            <label for="brand" style="font-size:12px;">Name</label>
            <input type="text" id="name" class="form-control" name="name" required>
          </div>

          <div class="group">
            <label for="brand" style="font-size:12px;">Image URL</label>
            <input type="text" id="url" class="form-control" name="url" required>
          </div>
        
        
          <div class="group">
            <label for="model" style="font-size:12px;">Model</label>
            <input type="text" id="model" class="form-control" name="model" required>
          </div>
        
          <div class="group">
            <label for="description" style="font-size:12px;">Description</label>
            <textarea rows="4" id="description" class="form-control" name="description" required></textarea>
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="weight" style="font-size:12px;">Weight (kg)</label>
              <input type="number" step="0.01" min="0" id="weight" name="weight" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="length" style="font-size:12px;">Length (cm)</label>
              <input type="number" step="0.1" min="0" id="length" name="length" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="width" style="font-size:12px;">Width (cm)</label>
              <input type="number" step="0.1" min="0" id="width" name="width" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="height" style="font-size:12px;">Height (cm)</label>
              <input type="number" step="0.1" min="0" id="height" name="height" class="form-control" required>
            </div>
          </div>
        
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="price" style="font-size:12px;">Price ($)</label>
              <input type="number" step="0.01" min="0" id="price" name="price" class="form-control" required>
            </div>
            <div class="form-group col-md-6 d-flex align-items-center" style="padding-top: 30px; padding-left: 40px;">
              <div class="form-check ms-2">
                <input class="form-check-input" type="checkbox" id="stock" name="stock" value="1">
                <label class="form-check-label" for="stock" style="font-size:12px;">In Stock</label>
              </div>
            </div>
            
          </div>
        
          <input type="submit" class="btn btn-success" value="Add Product" onclick="return confirm('Are you sure you want to add this product?')">
        </form>
        

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div id="updateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="updateForm" method="POST" action="/update_inventory_product" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">Update Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      
        <div class="modal-body">
          <input type="hidden" id="productID" name="productID" required>
      
          <div class="group">
            <label for="updateCategory" style="font-size:12px;">Product Category</label>
            <select class="form-control" id="updateCategory" name="updateCategory">
              <option value="agro_industry_and_commerce">agro_industry_and_commerce</option>
              <option value="food">food</option>
              <option value="food_drink">food_drink</option>
              <option value="art">art</option>
              <option value="arts_and_craftmanship">arts_and_craftmanship</option>
              <option value="party_supplies">party_supplies</option>
              <option value="christmas_supplies">christmas_supplies</option>
              <option value="audio">audio</option>
              <option value="auto">auto</option>
              <option value="baby">baby</option>
              <option value="drinks">drinks</option>
              <option value="health_beauty">health_beauty</option>
              <option value="toys">toys</option>
              <option value="bed_bath_table">bed_bath_table</option>
              <option value="home_confort">home_confort</option>
              <option value="home_comfort_2">home_comfort_2</option>
              <option value="home_construction">home_construction</option>
              <option value="cds_dvds_musicals">cds_dvds_musicals</option>
              <option value="cine_photo">cine_photo</option>
              <option value="air_conditioning">air_conditioning</option>
              <option value="consoles_games">consoles_games</option>
              <option value="construction_tools_construction">construction_tools_construction</option>
              <option value="costruction_tools_tools">costruction_tools_tools</option>
              <option value="construction_tools_lights">construction_tools_lights</option>
              <option value="costruction_tools_garden">costruction_tools_garden</option>
              <option value="construction_tools_safety">construction_tools_safety</option>
              <option value="cool_stuff">cool_stuff</option>
              <option value="dvds_blu_ray">dvds_blu_ray</option>
              <option value="home_appliances">home_appliances</option>
              <option value="home_appliances_2">home_appliances_2</option>
              <option value="electronics">electronics</option>
              <option value="small_appliances">small_appliances</option>
              <option value="sports_leisure">sports_leisure</option>
              <option value="fashion_bags_accessories">fashion_bags_accessories</option>
              <option value="fashion_shoes">fashion_shoes</option>
              <option value="fashion_sport">fashion_sport</option>
              <option value="fashio_female_clothing">fashio_female_clothing</option>
              <option value="fashion_childrens_clothes">fashion_childrens_clothes</option>
              <option value="fashion_male_clothing">fashion_male_clothing</option>
              <option value="fashion_underwear_beach">fashion_underwear_beach</option>
              <option value="garden_tools">garden_tools</option>
              <option value="flowers">flowers</option>
              <option value="diapers_and_hygiene">diapers_and_hygiene</option>
              <option value="industry_commerce_and_business">industry_commerce_and_business</option>
              <option value="computers_accessories">computers_accessories</option>
              <option value="musical_instruments">musical_instruments</option>
              <option value="la_cuisine">la_cuisine</option>
              <option value="books_imported">books_imported</option>
              <option value="books_general_interest">books_general_interest</option>
              <option value="books_technical">books_technical</option>
              <option value="luggage_accessories">luggage_accessories</option>
              <option value="market_place">market_place</option>
              <option value="furniture_mattress_and_upholstery">furniture_mattress_and_upholstery</option>
              <option value="kitchen_dining_laundry_garden_furniture">kitchen_dining_laundry_garden_furniture</option>
              <option value="furniture_decor">furniture_decor</option>
              <option value="office_furniture">office_furniture</option>
              <option value="furniture_bedroom">furniture_bedroom</option>
              <option value="furniture_living_room">furniture_living_room</option>
              <option value="music">music</option>
              <option value="stationery">stationery</option>
              <option value="computers">computers</option>
              <option value="perfumery">perfumery</option>
              <option value="pet_shop">pet_shop</option>
              <option value="small_appliances_home_oven_and_coffee">small_appliances_home_oven_and_coffee</option>
              <option value="watches_gifts">watches_gifts</option>
              <option value="security_and_services">security_and_services</option>
              <option value="signaling_and_security">signaling_and_security</option>
              <option value="tablets_printing_image">tablets_printing_image</option>
              <option value="telephony">telephony</option>
              <option value="fixed_telephony">fixed_telephony</option>
              <option value="housewares">housewares</option>
            </select>
          </div>
      
          <div class="group">
            <label for="updateName" style="font-size:12px;">Name</label>
            <input type="text" id="updateName" class="form-control" name="updateName" required>
          </div>
      
          <div class="group">
            <label for="updateUrl" style="font-size:12px;">Image URL</label>
            <input type="text" id="updateUrl" class="form-control" name="updateUrl" required>
          </div>
       
        
          <div class="group">
            <label for="updateModel" style="font-size:12px;">Model</label>
            <input type="text" id="updateModel" class="form-control" name="updateModel" required>
          </div>
        
          <div class="group">
            <label for="updateDescription" style="font-size:12px;">Description</label>
            <textarea rows="4" id="updateDescription" class="form-control" name="updateDescription" required></textarea>
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="updateWeight" style="font-size:12px;">Weight (kg)</label>
              <input type="number" step="0.01" min="0" id="updateWeight" name="updateWeight" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="updateLength" style="font-size:12px;">Length (cm)</label>
              <input type="number" step="0.1" min="0" id="updateLength" name="updateLength" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="updateWidth" style="font-size:12px;">Width (cm)</label>
              <input type="number" step="0.1" min="0" id="updateWidth" name="updateWidth" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="updateHeight" style="font-size:12px;">Height (cm)</label>
              <input type="number" step="0.1" min="0" id="updateHeight" name="updateHeight" class="form-control" required>
            </div>
          </div>
        
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="updatePrice" style="font-size:12px;">Price ($)</label>
              <input type="number" step="0.01" min="0" id="updatePrice" name="updatePrice" class="form-control" required>
            </div>
            <div class="form-group col-md-6 d-flex align-items-center" style="padding-top: 30px; padding-left: 40px;">
              <div class="form-check ms-2">
                <input class="form-check-input" type="checkbox" id="updateStock" name="updateStock" value="1">
                <label class="form-check-label" for="stock" style="font-size:12px;">In Stock</label>
              </div>
            </div>
          </div>
        </div>
      
        <div class="modal-footer">
          <input type="submit" class="btn btn-info" value="Update Product" onclick="return confirm('Are you sure you want to update this product?')">
        </div>
      </form>
       
    </div>
  </div>
</div>


<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">User</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inventory</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive" style = "">
                  <button style = 'float:right; margin-left:100px;'class="btn btn-success" id = "addBtn" data-toggle="modal" data-target="#myModal">Create Product Listing</button>

              {#      {% if session['Role'] == 'SysAD' or session['Role'] == 'User Administrator' %} #}
<!--                            <button style = 'float:right; margin-left:100px;'class="btn btn-success" id = "addBtn" data-toggle="modal" data-target="#myModal">Create Product Listing</button>-->

               {#   {% else %} #}
<!--                            <button style = 'cursor:not-allowed;float:right; margin-left:100px;'class="btn btn-success"   data-toggle="modal" data-target="#myModal" disabled>Create Product Listing</button>-->
                 {#   {% endif %} #}
               <table class = "table table-bordered" id = "productDataTable" cellspacing="0" style  ="width:100%;">

                    <tr>
                    <thead>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th>In Stock</th>
                        <th>Price($)</th>
                        <th>Weight(g)</th>
                        <th>Length(cm)</th>
                        <th>Width(cm)</th>
                        <th>Height(cm)</th>
                        <th>Actions</th>
                    </thead>
                        </tr>

                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Model</th>
                      <th>Description</th>
                      <th>In Stock</th>
                      <th>Price($)</th>
                      <th>Weight(g)</th>
                      <th>Length(cm)</th>
                      <th>Width(cm)</th>
                      <th>Height(cm)</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                </table>
              </div>
            </div>
          </div>

        </div>
{% endblock %}
{% block script %}
<!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!--    <script src = "../static/form.js"></script>-->
  <!-- Page level custom scripts -->
<script>



    function load(){
        $('#productDataTable').DataTable({
            'processing':true,
            'serverSide':false,
            'ajax':{url:"/retrieve_inventory_product"},
            'columns':[
                {data:"product_id"},
                {data:"product_photo"},
                {data:"product_name"},
                {data:"product_category_translation"},
                {data:"product_model"},
                {data:"product_description"},
                {data:"has_stock"},
                {data:"price"},
                {data:"product_weight_g"},
                {data:"product_length_cm"},
                {data:"product_width_cm"},
                {data:"product_height_cm"},
                {data:"Actions"}

            ]
        });
        }
        $(document).ready(function(){

        $('#updateForm').submit(function(e){
                        alert('Product Successfully updated in Our inventory');

        })


        $('#addForm').submit(function(e){
            alert('Product Successfully Added to Our inventory')
        });


           $(document).on('click','#deleteBtn',function(){
           var cfm;
           var stock = $(this).closest('tr').children('td:nth-child(7)').text();
           var productid = $(this).closest('tr').children('td:first').text();
          console.log(productid);
           var csrftoken = $('meta[name=csrf-token]').attr('content');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            })

            if(stock == '0')
            {
                  cfm = confirm("This product is out of stock. Please do double check if this item still supplied by your supplier. Are you sure you want to delete this record?");
            }else{
                  alert("Delete is not applicable for this item. This product still in stock");
            }


             if(cfm)
             {
              var reason = prompt('Please State Your Reason For Deleting');
             if(reason)
           {
            $.ajax({
                data:{ id: productid },
                dataType:'json',
                type:'POST',
                url:'/delete_inventory_product',
                success:function(data){
                   alert("Succesfully deleted!")
                  var table = $('#productDataTable').DataTable();
                 table.clear().destroy();
                  load();
                },
                error:function(error){

                    alert(error);
                },
                });
                }else
                {
                    alert('Please key in  your reason!');
                }

                }
        });

        $(document).on('click','#updateBtn',function(){

          var $tr = $(this).closest('tr');
    
          var productID = $tr.find('td:eq(0)').text().trim();
          var url = $tr.find('td:eq(1) img').attr('src') || '';
          var name = $tr.find('td:eq(2)').text().trim();
          var category = $tr.find('td:eq(3)').text().trim();
          var model = $tr.find('td:eq(4)').text().trim();
          var description = $tr.find('td:eq(5)').text().trim();
          var stock = $tr.find('td:eq(6)').text().trim();
          var price = $tr.find('td:eq(7)').text().trim();
          var weight = $tr.find('td:eq(8)').text().trim();
          var length = $tr.find('td:eq(9)').text().trim();
          var width = $tr.find('td:eq(10)').text().trim();
          var height = $tr.find('td:eq(11)').text().trim();
          if (stock == 1){
            $('#updateStock').prop('checked', true);
          }
          else if (stock == 0) {
            $('#updateStock').prop('checked', false);
 
          }
          $('#productID').val(productID);
          $('#updateUrl').val(url);
          $('#updateName').val(name);
          $('#updateCategory').val(category);
          $('#updateModel').val(model);
          $('#updateDescription').val(description);
          $('#updatePrice').val(price);
          $('#updateWeight').val(weight);
          $('#updateLength').val(length);
          $('#updateWidth').val(width);
          $('#updateHeight').val(height);

        });

      /*  $("#addForm").on('submit',function(e){
             $.ajax({
                data:{productName:$('#name').val(),imageURL:$("#url").val(),description:$('#description').val(),stock:$('#stock').val(),price:$('#price').val()},
                dataType:'json',
                type:'POST',
                url:'/add_inventory_product',
                success:function(data)
                {
                    console.log(data);
                },
                error:function(error)
                {
                    alert(error);
                },
                done:function(data)
                {
                    alert(data);
                }

             });

             e.preventDefault();
        });*/



            load();
            window.onload = function(){
                   $("#productDataTable tbody tr").each(function(i,el){
                   //var col2Text  =  $(this).find('td:eq(1)').text();
                    //var col2 =  $(this).find('td:eq(1)');
                    //col2.append("<img  class = 'imageProduct' width = '285px' height  = '177px'>");

                    //var newURL = '../static/images/' + col2Text
                    //console.log(newURL);
                    //console.log(col2Text);
                   // $(".imageProduct").attr('src',newURL);
                   // $('#imageURL').css('display','none');

            });
            };



        })


</script>


{% endblock %}