{% extends 'customer_base.html' %}
{% block links %}
<style>

 </style>
{% endblock %}
{% block content %}
 <!-- ##### Checkout Area Start ##### -->
<form  id ='checkoutForm'>

    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Billing Information</h5>
                        </div>



                            <div class="row">

                                <div class="col-md-12 mb-3">
                                    <label for="first_name">Name<span>*</span></label>
                                    <input type="text" class="form-control" value = "{{ customer.get_name() }}"style='cursor:not-allowed'id="first_name"  required>
                                </div>


                                <div class="col-12 mb-3 wrapper">
                                    <label for="country">Country <span>*</span></label>
                                    <select class="w-100 selection" size="45" id="country" style="overflow:hidden;">
<!--                                        <option value="AFG">Afghanistan</option>-->
<!--                                        <option value="ALA">Åland Islands</option>-->
<!--                                        <option value="ALB">Albania</option>-->
<!--                                        <option value="DZA">Algeria</option>-->
<!--                                        <option value="ASM">American Samoa</option>-->
<!--                                        <option value="AND">Andorra</option>-->
<!--                                        <option value="AGO">Angola</option>-->
<!--                                        <option value="AIA">Anguilla</option>-->
<!--                                        <option value="ATA">Antarctica</option>-->
<!--                                        <option value="ATG">Antigua and Barbuda</option>-->
<!--                                        <option value="ARG">Argentina</option>-->
<!--                                        <option value="ARM">Armenia</option>-->
<!--                                        <option value="ABW">Aruba</option>-->
                                        <option value="SIN">Singapore</option>
                                    </select>
                                </div>
                                <div class="col-12 ">
                                    <label for="city">City <span>*</span></label>
                                    <input value="" type="text"  name="city" class="form-control mb" id="city" >
                                                                        <span id="error_city" class="text-danger"><br></span>

<!--                                    <input type="text" class="form-control" id="street_address2" value="">-->
                                </div>
                                   <div class="col-12 ">
                                    <label for="state">State<span>*</span></label>
                                    <input value="" type="text"  name="state" class="form-control mb" id="state" >
                                                                        <span id="error_state" class="text-danger"><br></span>

<!--                                    <input type="text" class="form-control" id="street_address2" value="">-->
                                </div>
                                <div class="col-12">
                                    <label for="street_address">Shipping Address <span>*</span></label>
                                    <input value="" type="text"  name="shipping_address" class="form-control mb-3" id="street_address" >
                                                                        <span id="error_address" class="text-danger"><br></span>

<!--                                    <input type="text" class="form-control" id="street_address2" value="">-->
                                </div>


                                <div class="col-12 mb-3">
                                    <label for="postcode">Postcode <span>*</span></label>
                                    <input value="{{ customer.get_customer_zip_code() }}" type="text" name="shipping_postal_code" class="form-control" id="postcode">
                                    <span id="error_postcode" class="text-danger"></span>

                                </div>

                                <div class="col-12 mb-3">
                                    <label for="phone_number">Phone No <span>*</span></label>
                                    <input value="{{ customer.get_contact() }}" type="text" class="form-control" style='cursor:not-allowed'id="phone_number"  value="Dummy Value">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    <input value = "{{ customer.get_email() }}" type="email" class="form-control" style='cursor:not-allowed' id="email_address" value="Dummy Value">
                                </div>

                                <div class ='col-12 mb-4'>
                                    <span id="error_TAP" class="text-danger"><br></span>

                                </div>

                                <div class="col-12 mb-4">
                                        <input type="radio" class="" id="paypal"value="PayPal" name ='paymentMethod' >
                                        <label>Paypal</label> <i  class="fa fa-cc-paypal"></i> <i class="fa fa-paypal"></i>

                                    </div>

                                 <div class="col-12 mb-4">
                                        <input type="radio" class="" id="creditcard" value="Credit Card" name="paymentMethod" >
                                        <label>Credit Card</label> <i  class="fa fa-cc-visa"></i> <i  class="fa fa-credit-card"></i> <i class ='fa fa-cc-mastercard'></i>

                                    </div>

                                <div class ='col-md-6 md-3'>
                                    <label >Card Number<span>*</span></label>
                                    <input type="text" class="form-control" id ='cardNumber' >
                                    			    <span id="error_cardNumber" class="text-danger"></span>

                                </div>
                                   <div class ='col-md-6 md-3'>
                                    <label >CVV Code<span>*</span></label>
                                    <input type="text" class="form-control" id='CVVCode' >
                                       <span id="error_CVVCode" class="text-danger"></span>

                                </div>
                                  <div class ='col-12 md-4'>
                                    <label >Expiration Date<span>*</span></label>
                                    <input type='month'class="form-control" id ='expDate' min="2020-February" required>
                                </div>

<!--                                <div class="col-12">-->
<!--                                    <div class="custom-control custom-checkbox d-block mb-2">-->
<!--                                        <input type="checkbox" class="custom-control-input" id="customCheck1">-->
<!--                                        <label class="custom-control-label" for="customCheck1">Terms and conitions</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-control custom-checkbox d-block mb-2">-->
<!--                                        <input type="checkbox" class="custom-control-input" id="customCheck2">-->
<!--                                        <label class="custom-control-label" for="customCheck2">Create an accout</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-control custom-checkbox d-block">-->
<!--                                        <input type="checkbox" class="custom-control-input" id="customCheck3">-->
<!--                                        <label class="custom-control-label" for="customCheck3">Subscribe to our newsletter</label>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                            <h5>Your Order</h5>
                            <p>The Details</p>


                       <ul class="order-details-form mb-4">
                            <li><span>Product</span> <span>Total ($)</span></li>

                            {% set total = namespace(value=0) %}
                            {% for product in products %}
                                {% set product_id = product.get_product_id() %}
                                {% set quantity = quantity_map[product_id] %}
                                {% set price = product.get_price() %}
                                {% set line_total = price * quantity %}
                                {% set total.value = total.value + line_total %}
                                <li>
                                    <span>{{ product.get_name() }} × {{ quantity }}</span>
                                    <span>${{ '%.2f' | format(line_total) }}</span>
                                </li>
                            {% endfor %}
                            <li><span>Subtotal</span> <span>${{ '%.2f' | format(total.value) }}</span></li>
<!--                            <li><span>Shipping</span> <span>$0.00</span></li>-->
                            <li><span>Total</span> <span id="grandTotal">${{ '%.2f' | format(total.value) }}</span></li>
                        </ul>
                        <p>*Once delivered, not refundable</p>
                        <input type="hidden" id="payment_value" name="payment_value" value="{{ '%.2f' | format(total.value) }}">


                        <p style="display:none;"   class ='pID'>1</p>

                        <input type="submit" class="btn essence-btn" value="Place Order">

                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>


    <!-- ##### Checkout Area End ##### -->
{% endblock %}
{% block custom %}
 <script src="../static/js/style.js"></script>
<script>

</script>
{% endblock %}