{% extends 'customer_base.html' %}

{% block content %}
<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">
        <img src="img/bg-img/bg-8.jpg" alt="">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <h2>Join the Club - Register Now</h2>

                        <!-- NEW: User Type Selector -->
                        <div class="mb-3">
                            <label><strong>Register as:</strong></label>
                            <div>
                                <input type="radio" name="user_type" value="customer" checked> Customer
                                <input type="radio" name="user_type" value="seller" class="ms-3"> Seller
                            </div>
                        </div>

                        <form class='register-form' id="register-form" novalidate>

                            <!-- Existing Customer Fields -->
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>
                                </div>
                                <input type="text" id="username" class="form-control" placeholder="Username">
                            </div>
                            <span id="error_NRIC" class="text-danger"></span>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                </div>
                                <input type="text" id='fname' class="form-control" placeholder="First Name">
                                <span id="error_fname" class="text-danger"></span>
                                <input type="text" id='lname' class="form-control" placeholder="Last Name">
                                <span id="error_lname" class="text-danger"></span>
                            </div>
                            <br>

                            <div class="input-group flex-nowrap" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Contact</span>
                                </div>
                                <input type="text" id='contact' class="form-control" placeholder="+65">
                            </div>
                            <span id="error_contact" class="text-danger"></span>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Zip Code</span>
                                </div>
                                <input type="text" id='zipCode' class="form-control" placeholder="S310500">
                            </div>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                <input type="text" id='address' class="form-control" placeholder="Blk No/Location/Unit Number">
                            </div>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" id='email' class="form-control" placeholder="example@domain.com">
                            </div>
                            <span id="error_email" class="text-danger"></span>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" id='password' class="form-control">
                            </div>
                            <span id="error_password" class="text-danger"></span>
                            <br>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Confirm Password</span>
                                </div>
                                <input type="password" id='confirmPassword' class="form-control">
                            </div>
                            <span id="error_confirmPassword" class="text-danger"></span>
                            <br>

                            <!-- Seller section is now empty, hidden -->
                            <div id="seller-section" style="display:none;">
                                <!-- No seller-specific fields -->
                            </div>

                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <input type="checkbox" id="rem" class="TAP">
                                    <label for="rem">I have read and agree to
                                        <a href="https://d2oc0ihd6a5bt.cloudfront.net/wp-content/uploads/sites/1736/2017/10/Master-Service-Agreement-1-1.pdf" style="color:black">
                                            Terms and Private Policy of Boey Training Centre
                                        </a>
                                    </label>
                                </div>
                            </div>
                            <span id="error_TAP" class="text-danger"></span>
                            <br>

                            <input type="submit" class="btn btn-outline-primary" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->
{% endblock %}

{% block custom %}
<script>
$(document).ready(function(){

    $("#register-form").on('submit',function(e){
        e.preventDefault();

        var userString = '{% for i in userList %}{{i|safe}}{% endfor %}';
        var newUserString = userString.substring(1,userString.length-1);
        var newUsers = newUserString.replace(/['"\s]+/g, '');
        var userList = newUsers.split(',');

        var userType = $("input[name='user_type']:checked").val();

        var username = $('#username').val().trim();
        var fname = $('#fname').val().trim();
        var lname = $('#lname').val().trim();
        var contact = $('#contact').val().trim();
        var email = $('#email').val().trim();
        var password = $('#password').val().trim();
        var confirmPassword = $('#confirmPassword').val().trim();

        // error variables
        var error_username = '';
        var error_fname = '';
        var error_lname = '';
        var error_contact = '';
        var error_email = '';
        var error_password = '';
        var error_confirmPassword = '';
        var error_tap = '';

        var contact_validate = /^[689]\d{7}$/;
        var email_validate = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;

        if($.trim($('#fname').val()).length == 0) {
            error_fname = '*This field is mandatory!';
            $('#error_fname').text(error_fname);
        } else {
            $('#error_fname').text('');
        }

        if($.trim($('#lname').val()).length == 0) {
            error_lname = '*This field is mandatory!';
            $('#error_lname').text(error_lname);
        } else {
            $('#error_lname').text('');
        }

        if($.trim($('#contact').val()).length == 0) {
            error_contact = '*This field is mandatory!';
            $('#error_contact').text(error_contact);
        } else if(!contact_validate.test($('#contact').val())) {
            error_contact = 'Please enter an 8 digit number starting with 6,8 or 9';
            $('#error_contact').text(error_contact);
        } else {
            $('#error_contact').text('');
        }

        if($.trim($('#email').val()).length == 0) {
            error_email = '*This field is mandatory!';
            $('#error_email').text(error_email);
        } else if(!email_validate.test($('#email').val())) {
            error_email = 'Please enter a valid email';
            $('#error_email').text(error_email);
        } else {
            $('#error_email').text('');
        }

        if($.trim($('#username').val()).length == 0) {
            error_username = '*This field is mandatory!';
            $('#error_NRIC').text(error_username);
        } else if(userList.includes(username)) {
            error_username = 'This username is already taken!';
            $('#error_NRIC').text(error_username);
        } else {
            $('#error_NRIC').text('');
        }

        if(password !== confirmPassword) {
            error_password = 'Password does not match!';
            $('#error_password').text(error_password);
            $("#error_confirmPassword").text(error_password);
        } else {
            $('#error_password').text('');
            $("#error_confirmPassword").text('');
        }

        if(!$('.TAP').is(':checked')) {
            error_tap = "Please agree to the Terms and Private Policy";
            $("#error_TAP").text(error_tap);
        } else {
            $("#error_TAP").text('');
        }

        if(
            error_username || error_fname || error_lname || error_contact ||
            error_email || error_password || error_confirmPassword || error_tap
        ) {
            return false;
        }

        var payload = {
            user_type: userType,
            username: username,
            fname: fname,
            lname: lname,
            contact: contact,
            email: email,
            password: password,
            zip_code: $('#zipCode').val(),
            address: $('#address').val()
        };

        $.ajax({
            contentType: 'application/json',
            data: JSON.stringify(payload),
            type: 'POST',
            url: '/handle_register',
            dataType: 'json',
            success: function(data) {
                alert(data.message);
                window.location.replace('/login');
            },
            error: function(xhr, status, error) {
                console.error(error);
                alert("Error: " + xhr.status + "\n" + xhr.responseText);
            }
        });
    });
});
</script>
{% endblock %}
